
h1 {
    color: black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

a {
    color: black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}